body {
  background-image: url("./images/drumset.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.keys-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}
.key {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(87, 85, 85, 0.712);
  border: 4px solid black;
  transition: all 0.07s;
}
.playing {
  transform: scale(1.2);
  border-color: rgb(233, 233, 7);
  box-shadow: 0 0 10px rgb(233, 233, 7);
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 5rem;
  padding: 10px;
  background-color: rgba(87, 85, 85, 0.712);
  border: 4px solid black;
  color: rgb(233, 233, 7);
}
.key h4 {
  font-size: 2rem;
  margin: 10px;
  padding: 0px;
  color: rgb(189, 189, 189);
}
.key h6 {
  color: rgb(233, 233, 7);
  font-size: 1.2rem;
  padding: 0px;
  margin: 0px;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 100vh;
}
.space {
  width: 40%;
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
  body {
    width: 630px;
    height: 160px;
  }
  .page {
    width: 400px;
    height: 240px;
  }
  .heading {
    font-size: 1rem;
    margin: -40px 0px 0px 0px;
    padding: 6px;
    width: 60%;
    border: 1px solid black;
  }
  .key {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 2px;
  }
  .key h4 {
    font-size: 0.5rem;
    padding: 0px;
    color: rgb(189, 189, 189);
  }
  .key h6 {
    color: rgb(233, 233, 7);
    font-size: 0.8rem;
    padding: 0px;
    margin: 5px;
    text-align: center;
  }
  .space {
    width: 60%;
    height: 30px;
  }
}
